@model IEnumerable<GameCenterMVC.Models.Computer>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<h2>PC</h2>
<style>
	.vertical-line {
		display: inline-block;
		border-left: 5px solid #808080;
		margin: 0 10px;
		height: 100px;

	}
	figure.item {
		/* To correctly align image, regardless of content height: */
		vertical-align: top;
		display: inline-block;
		/* To horizontally center images and caption */
		text-align: center;
	}
</style>

<div class="m-1">

	@foreach (var item in Model)
	{

	<a href="@Url.Action("Details","Home", new { id = item.ComputerID})" data-target="#MyModal" data-toggle="modal">
		<figure class="item">
			<img class="vertical-line" height="100" width="100" src="../../Content/Images/PcPic.png"
				 id="@item.ComputerID" alt="Pic of pc with id @item.ComputerID" style="float:left; margin:0px;">

			<figcaption>@item.ComputerID.ToString()</figcaption>
		</figure>


	</a>
	}
</div>



<link href="~/Content/Modal/Modal.css" rel="stylesheet" />
<div class="container">

	<div class="modal" id="MyModal" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">

			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal">&times;</button>
					<h4>DemoModalTitle</h4>
				</div>
				@*<div class="modal-body">

					</div>*@
				@*<div class="modal-footer">
						<button class="fa fa-plus-circle" data-dismiss="modal">

						</button>
					</div>*@

			</div>
		</div>
	</div>

</div>


