
@{
    ViewBag.Title = "AuthorizeFailed";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2 style="color:red">Authorization Failed</h2>
<br />
@*<p>You're not authorized to this page.</p>
<br />*@

<b>Please contact the Administrator!</b>
@*<b>You're Not Authorized to this Site.
    <br />
    Please Contact the Administrator for further informations!
    </b>*@

